
        * {
            box-sizing: border-box;
        }
        html, body, h1, h2 {
            margin: 0;
            padding: 0;
        }
        .hero-image {
            background-image: url('Hero\ image.svg');
            background-color: antiquewhite; /*Boja pozadine u slucaju da se slika ne ucita*/
            background-position: center; /*Centriranje slike*/
            background-repeat: no-repeat; /*Ne ponavlja se slika ni horizontalno ni vertikalno*/
            background-size: cover;
            position: relative;
            height: 100vh;
            width: 100%;

        }
    
        nav
        {
          display: flex;
          justify-content: space-around;
        color: aliceblue;
        height: 200px;
            
        }
       
        .img{
            height: 200px;
            width: 150px;
        }

        .logo-text{
            display: flex;
            align-items: center;
        }

        .logo-text h2{
            font-family: Georgia;
            font-size: 40px;
            font-weight: 400;
            line-height: 45px;
            letter-spacing: 0em;
            text-align: left;
            padding-top: 70px;
           
        }
        

        .logo-text h3 {
            font-family: Georgia;
            font-size: 24px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
            margin-top: 10px;
        }
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 600px;
            list-style-type: none;
            
            
        }
       a{
        color: aliceblue;
        text-decoration: none;
        font-family: Georgia;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        width: 120px;        
       }
     .hero-image h1
       {
        position: absolute;
        left: 172px ;
        top:425px ;
        color: aliceblue;
        font-family: Georgia;
        font-size: 64px;
        font-weight: 300;
        line-height: 73px;
        letter-spacing: 0em;
        text-align: left;
       }
    .btns
    {
        position: absolute;
        left: 172px;
        top: 630px;
        width: 700px ;
    }
    .btns button{
        width: 308px;
        height: 82px;
        background: #E4E6C3;
        border: 3px solid #222725;
        border-radius: 20px;
        font-family: Verdana;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;

    }
    .btns button:nth-of-type(2) {
        background: transparent;
        border: 3px solid #f5ebca;
        margin-left: 70px;
        color: #f5ebca;        
    }
    .text_left{
        width: 45%;
        margin-left: 100px;
    }
    .text_left p {
        font-family: Verdana;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

    }

    .text_left h3{
        font-family: Georgia;
        font-size: 32px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        }
        .text_left i {
            color: #899878
        }
        .text_right {
        width: 45%;
        float: right;
        margin-right: 100px;
        }
    .text_right h3 {
        font-family: Georgia;
        font-size: 32px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: right;   
    }   
    .text_right b {
        color: #899878 
    }
    .text_right p {
        font-family: Verdana;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 200px;
    }
    .imgdiv{
        width: 100%;
        height: 1350px;    
        }
    
    .img_center {
        width: 50%;
        display: block;
        margin: auto;
           }

    .imgdiv p{
        width: 40%;
        margin: auto;
        padding-top: 30px;
        font-family: Verdana;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;

    }
    .imgdiv p:nth-of-type(2){
        width: 50%;
        margin: auto;
        padding-top: 150px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        text-align: center;
        
    }
    .imgdiv a{
        color:#899878 ;
        font-size: 14px;
    }
    .form {
        width: 30%;
        margin: auto;
    }
    .form input {
        width: 100%;
        margin-bottom: 10px;
        height: 30px;
    }
   
    .form h1 {
        margin-bottom: 10px;
    }
    .form button{
        width: 120px;
        height: 36px;
        color: white;
        background: #222725;
        border-radius: 25px;
    }
